beautifulsoup4
faiss-cpu
matplotlib
nltk
numpy
openai
pandas
pdfplumber
PyPDF2
python-docx
python-dotenv
pyspellchecker
requests
scikit-learn
schedule
seaborn
spacy
streamlit
textblob
textstat
tiktoken
tqdm
wordcloud
wordninja
